In [1]:
import pandas as pd
import seaborn as sns

In [20]:
#엑셀 파일 넣은거 읽어오기
a= pd.read_excel('myStudent.xlsx')
df = pd.DataFrame(a)
df

    gender group   education  kor  eng  math
0        f     a   highscool  100   80    50
1        f     b     college   56   15    89
2        m     c  university   12   68    52
3        f     d   highscool   85   65    15
4        m     e     college   80  100    50
..     ...   ...         ...  ...  ...   ...
105      m     a  university   78   99    68
106      f     b     college   78   85    95
107      m     c   highscool   74   88    52
108      m     d     college   78   85    99
109      f     e  university   74   78    99

[110 rows x 6 columns]

In [23]:
# kor, eng, math 를 더한 값을 'sum'열에 출력
# df['sum'] = df['kor'] + df['eng'] + df['math']
df['sum'] = df[['kor','eng', 'math']].sum(axis=1)
df['sum'].head()

0    230
1    160
2    132
3    165
4    230
Name: sum, dtype: int64

In [17]:
# 어떤 값을 넣으면 그 값을 3으로 나눈 결과를 내보내주는 함수
def div_by3(a):
  return a/3
print(div_by3(9))

3.0

In [24]:
# 아까 만든 함수 매핑
df['avg'] = df['sum'].apply(div_by3).round(2)
df['avg'].head()

0    76.67
1    53.33
2    44.00
3    55.00
4    76.67
Name: avg, dtype: float64

# 함수 매핑( Mapping )
   
      
시리즈나 데이터프레임의 개별 요소를 특정 함수에 1:1로 대응시키는 과정   
   
사용자가 직접 만든 함수(람다 함수 포함)를 적용시킬 수 있기 때문에,   
for문이나 기본 함수로 처리하는 것보다 효율적이다.

In [32]:
# seaborn에서 타이타닉 데이터 불러와서 'age','fare' 열만 인덱싱
# => 'ten' 열을 만들어서 10을 넣기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:,['age','fare']]
df['ten'] = 10
df.head()

NameError: name 'NaN' is not defined

In [34]:
# 값을 넣으면 10을 더해주는 함수
def add_10(a):
  return a+10
# 값을 2개 넣으면 그 둘을 곱해주는 함수
def add_two_val(a,b):
  return a+b
# 값을 3개 넣으면 그 셋을 더해주는 함수
def add_three_val(a,b,c):
  return a+b+c

In [35]:
# 위의 함수를 apply()를 이용해 시리즈 객체의 개별 요소에 적용
sr1 = df['age'].apply(add_10)
sr1.head()

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

In [37]:
# apply 함수의 첫번째 파라미터는 적용시긴 함수, 나머지는 직접 지정하는 형태
sr2 = df['fare'].apply(add_two_val, b=0.9)
sr2.head()

0     8.1500
1    72.1833
2     8.8250
3    54.0000
4     8.9500
Name: fare, dtype: float64

In [38]:

sr3 = df['fare'].apply(add_three_val, b=10.1, c=20)
sr3.head()

0     37.3500
1    101.3833
2     38.0250
3     83.2000
4     38.1500
Name: fare, dtype: float64

In [40]:
# 'ten'열의 값들을 람다 함수를 통해 add_10 함수 적용
# (lambda a,b:print(a*b))(10,20)
sr4 = df['ten'].apply(lambda x: add_10(x))
sr4.head()

0    20
1    20
2    20
3    20
4    20
Name: ten, dtype: int64

# apply() VS applymap()

In [41]:
df_map = df.applymap(add_10)
df_map.head()
# 데이터프레임의 모든 요소에 함수 내용을 적용 가능
# 근데 deprecated 니까 쓰지 말자...

<ipython-input-41-5d7fb10e2bd9>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_map = df.applymap(add_10)

    age     fare  ten
0  32.0  17.2500   20
1  48.0  81.2833   20
2  36.0  17.9250   20
3  45.0  63.1000   20
4  45.0  18.0500   20

# 시리즈 객체 함수 매핑   
   
DataFrame에 apply 함수를 적용(매핑함수, axis=값)   
axis 를 통해 적용할 범위를 조정 가능( 행, 열 )

In [44]:
#뭔가를 넣었을 때 결측값인지 확인하는 함수
def missing_value(series):
  return series.isnull()

In [45]:
# 이 함수를 데이터프레임의 모든 열에 매핑( axis = 1 )
result = df.apply(missing_value, axis=1)
print(result)
print()

       age   fare    ten
0    False  False  False
1    False  False  False
2    False  False  False
3    False  False  False
4    False  False  False
..     ...    ...    ...
886  False  False  False
887  False  False  False
888   True  False  False
889  False  False  False
890  False  False  False

[891 rows x 3 columns]